<!DOCTYPE html>
<html >
    <head>
        <title>New Expense</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
     	<!-- Bootstrap (https://getbootstrap.com/) CSS -->
		<link rel="stylesheet" 
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
			crossorigin="anonymous">
    </head>
    
    <body>
    
<div id="app" class="container">
        
    <h1>New Expense Details</h1>
    
    <div v-if="message" v-html="message" id="message" class="alert alert-info" role="alert" >
	</div>

	<form v-on:submit.prevent>
	  <div class="form-group">
	    <label for="date">Date</label>
	    <input v-model="form.date"
	    	type="date" class="form-control" id="date" >
	  </div>
	  <div class="form-group">
	    <label for="description">Description</label>
	    <input v-model="form.description"
	    	type="text" class="form-control" id="description" autofocus>
	  </div>
	  <div class="form-group">
	    <label for="amount">Amount</label>
	    <input v-model="form.amount"
	    	type="text" class="form-control" id="amount">
	  </div>
	  <div class="form-group">
	  	<button v-on:click="submit"
	  		type="submit" class="btn btn-primary">Submit New</button>
	  </div>	  
	</form>
	   	
		   
</div>


<!-- Bootstrap Dependencies -->	
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	

<!-- Vue.js Dependencies -->
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- production version, optimized for size and speed -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

<!-- Vuex Statement Management (https://vuex.vuejs.org) -->
<script src="https://unpkg.com/vuex"></script>

<!-- Vue Router (https://router.vuejs.org/) -->
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>


<script type="text/javascript">

var app = new Vue({
	// The element for Vue to control
	el: '#app',					
	
	// A list of variables separated by a comma to use with Vue
	// A variable consists of a name followed by a colon and an initial javascript value (string, array, number, true/false)
    data: {
        message:	'',
        messages:	[],
        form: {
			date: new Intl.DateTimeFormat('en-CA', {year: 'numeric', month: 'numeric', day: 'numeric'}).format( new Date() ),
			description: '',
			amount: 1,
        },
       
    },

     // Vue LifeCyle Hooks methods that you can define: created, mounted, updated, destroyed
     mounted: function() {
    	// code to execute when Vue is mounted such as fetching data when page loads
     },
     
     // A list of methods separated by comma to use with Vue.
     // The syntax to define a method is:	
   	 //		methodName: function(param1, param2) {},
     methods: {
        
		submit: function() {
			const apiURL = '/webapi/expenses';	

			const data = {
				date: this.form.date,
				description: this.form.description,
				amount: this.form.amount
			}
			console.log(data);
			console.log(JSON.stringify(data));

			const basicAuth = localStorage.getItem("Authorization");
			console.log(basicAuth);
			const requestOptions = {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
					'Authorization': basicAuth,	
				},
				body: JSON.stringify(data),	// convert Javascript object to a JSON message		
			}
			
			fetch(apiURL, requestOptions)
			.then(response => {
				if (response.ok) {
					return response.headers.get('Location');
				} else {
					throw Error(response.statusText);
				}
			})		
			.then(location => {
				console.log(location);

				this.message = 'Create new expense was succssful.';
				this.form.date = new Intl.DateTimeFormat('en-CA', {year: 'numeric', month: 'numeric', day: 'numeric'}).format( new Date() );
				this.form.description = '';
				this.form.amount = 1;
				
			})
			.catch(error => {
				this.message = error;
				if (error.status == 400) {
					for (let index = 0; index < Object.keys(error).length - 2; index++) {
						console.log(error[index]);		
						this.messages.push( Object.values(error[index])[0] );
					}
				}
			});	
			
		},

		cancel: function() {

		},
     	
     },
})


// common function to handle a BadRequest response from a Fetch API request
function handleResponse(response) {
	return response.json()
		.then(json => {
			if (response.ok) {
				return json
			} else {
				let error = Object.assign({}, json, {
					status: response.status,
					statusText: response.statusText
				})
				return Promise.reject(error)
			}
	})
}
</script>

    </body>
</html>