<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<!-- BootsFaces Theme Usage -->
	<context-param>
		<param-name>BootsFaces_USETHEME</param-name>
		<param-value>default</param-value>
	</context-param>
	<context-param>
		<param-name>BootsFaces_THEME</param-name>
		<param-value>#{theme.currentTheme}</param-value>
	</context-param>
	<!-- Activates the waitcursor and the double-click protection -->
	<context-param>
		<param-name>net.bootsfaces.blockUI</param-name>
		<param-value>true</param-value>
	</context-param>
		
	<servlet>
		<servlet-name>H2Console</servlet-name>
		<servlet-class>org.h2.server.web.WebServlet</servlet-class>
		<!-- <init-param> <param-name>webAllowOthers</param-name> <param-value></param-value> 
			</init-param> <init-param> <param-name>trace</param-name> <param-value></param-value> 
			</init-param> -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>H2Console</servlet-name>
		<url-pattern>/h2-console/*</url-pattern>
	</servlet-mapping>


	<security-constraint>
		<display-name>Use HTTPS only</display-name>
		<web-resource-collection>
			<web-resource-name>sslResources</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Restricted User Resources</web-resource-name>
			<url-pattern>/expense/create.xhtml</url-pattern>
			<url-pattern>/expense/detail.xhtml</url-pattern>
			<url-pattern>/expense/edit.xhtml</url-pattern>
			<url-pattern>/h2-console/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>USER</role-name>
			<role-name>ADMIN</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<role-name>USER</role-name>
	</security-role>
	<security-role>
		<role-name>ADMIN</role-name>
	</security-role>
	
</web-app>